<div style="margin-bottom:30px;">
  <h2>{{title}}</h2>

  <p>
    <span style="margin-right:20px;">
      <img class="post-icon" src="/images/nerd-smile.svg" alt="calendar icon"/> {{user.name}}
    </span>
    <span style="margin-right:20px;">
      <img class="post-icon" src="/images/calendar.svg" alt="calendar icon"/>{{format_date date_created}}
    </span>
  </p>

  <p>{{content}}</p>

{{#if user_id}}
  <div class="d-flex">
    <div class="delete-button" style="margin-right:10px;">
      <button type="click" class="theme-button" data-id="{{id}}">Delete</button>
    </div>
    {{!-- <div class="edit-post-form">
      <button type="click" class="secondary-button" data-id="{{id}}">Edit</button>
    </div> --}}
    <a href="/post/edit/{{id}}" class="secondary-button">
      Edit
    </a>
  </div>
{{/if}}

</div>



{{#if logged_in}}
  
    <form class="comment-form" style="padding-top:40px;">

      <div class="form-group">
        <label for="post-comment" class="form-label"><h6>Share Your Thoughts</h6></label>
          <textarea class="form-input" id="post-comment" name="post-comment"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="theme-button">Add Comment</button>
      </div>

    </form>
{{else}}
  <h6>Log in to post a comment.</h6>

{{/if}}
  
{{!-- DISPLAYS COMMENTS, IF ANY. --}}

{{>comments}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}

<script src="/js/delete.js"></script>
{{!-- <script src="/js/edit.js"></script> --}}
