<div>
  <h2>{{title}}</h2>

  <p>
    <span style="margin-right:20px;">
      <img class="post-icon" src="/images/nerd-smile.svg" alt="calendar icon"/> {{user.name}}
    </span>
    <span style="margin-right:20px;">
      <img class="post-icon" src="/images/calendar.svg" alt="calendar icon"/>{{format_date date_created}}
    </span>
  </p>

  <p>{{content}}</p>

</div>



{{#if logged_in}}
  
    <form class="comment-form" style="padding-top:40px;">

      <div class="form-group">
        <label for="post-comment" class="form-label"><h6>Share Your Thoughts</h6></label>
          <textarea class="form-input" id="post-comment" name="post-comment"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="theme-button">Add Comment</button>
      </div>

    </form>
{{else}}
  <h6>Log in to post a comment.</h6>

{{/if}}
  
{{!-- DISPLAYS COMMENTS, IF ANY. --}}

{{>comments}}

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}
